<!DOCTYPE html>
<html>
<%- include('partials/head', {title: template('branding.prettyName'), formatUrl, pathPrefix}) %>
<body>

<div class="container">
    <div class="header-section mt-5">
        <h1 class="fw-bolder m-0"><%- template("branding.name") %></h1>
        <h5 class="m-0 mt-1"><%- template("landing.tagline") %></h5>
    </div>
    <div class="search-section mt-4">
        <%- include('partials/search', {style: 'homepage', focus: 'autofocus', msgOnFocus: template('search.placeholder'), formatUrl}) %>
    </div>

    <div class="home-section">
        <div class="d-flex flex-wrap mt-3">
            <%- include('partials/home/gettingStarted', modules[1]) %>
            <%- include('partials/home/teams', modules[0]) %>
        </div>
    </div>
</div>

</body>
</html>
