<div class="container">

    <% if (locals.title) { %>
        <% if (locals.duplicates) { %>
            <%- include('partials/warning', {message: template('warning.duplicate', locals.duplicates, locals.parentId), formatUrl}) %>
        <% } %>

        <div class="text-center mt-4">
            <h1 class="headline mt-0 fw-bolder"><%= title %></h1>
            <% if (locals.byline) { %>
                <h6 class="m-0">
                    By <span class="fw-bold"><%= locals.byline %></span>
                    <% if (locals.lastUpdatedBy) { %>
                        • Last edited by <span class="fw-bold"><%= lastUpdatedBy %></span> <span class="date"
                                                                                                 data-date="<%= locals.modifiedAt %>"></span>
                    <% } %>
                </h6>
                <script>
                    (function () {
                        $('.date').each(function (i) {
                            const date = $(this)
                            const momentDate = moment(date.data('date'))
                            if (momentDate.isValid()) {
                                date.html(moment().diff(momentDate, 'years') > 1 ? ` on ${momentDate.format('MMMM D, YYYY')}` : ` ${momentDate.fromNow()}`)
                                date.attr('title', momentDate.format('MMMM D, YYYY'))
                            }
                        })
                    })()
                </script>
            <% } %>
        </div>
    <% } %>

</div>
